.About {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  @include responsive(640px) {
    flex-wrap: wrap;
    padding: 10px;
  }
  .me {
    width: 25%;
    text-align: center;
    @include responsive(640px) {
      width: 100%;
    }
    img {
      width: 100%;
      border-radius: 50%;
      margin-bottom: 15px;
    }
    .download-resume {
      cursor: pointer;
      font-size: 16px;
      border: 1px solid white;
      border-radius: 8px;
      padding: 8px 20px;
      background: black;
      color: white;
      transition: 0.3s;
      text-decoration: none;
      &:hover {
        color: black;
        background: white;
      }
    }
  }
  .info {
    width: 75%;
    padding-left: 5%;
    @include responsive(640px) {
      padding-left: 0;
    }
    p {
      margin: 10px 0;
      img {
        position: relative;
        top: 4px;
        width: 24px;
        height: 24px;
      }
      strong {
        font-weight: normal;
      }
    }
  }
}
