.About {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  @include responsive(640px) {
    flex-wrap: wrap;
    padding: 10px;
  }
  .me {
    width: 25%;
    @include responsive(640px) {
      width: 100%;
    }
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  .info {
    width: 75%;
    padding-left: 5%;
    @include responsive(640px) {
      padding-left: 0;
    }
    p {
      margin: 10px 0;
      img {
        position: relative;
        top: 4px;
        width: 24px;
        height: 24px;
      }
      strong {
        font-weight: normal;
      }
    }
  }
}
