.Filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background: white;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background: white;
  }
  label {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    @include responsive(640px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    span {
      @include responsive(640px) {
        display: flex;
        align-items: center;
      }
      img {
        display: block;
        width: 64px;
        height: 64px;
        margin: 0 0 15px 0;
        @include responsive(768px) {
          width: 48px;
          height: 48px;
        }
        @include responsive(640px) {
          margin: 0 15px 0 0;
        }
      }
      p {
        display: none;
        @include responsive(640px) {
          display: block;
        }
      }
    }
    input[type="checkbox"] {
      width: 24px;
      height: 24px;
    }
  }
}
